ul.checklist-container {
  padding: 0px;
  /* margin: 0px !important; */
}

.checklist-parent-item {
  background: url(/assets/empty-checkbox.svg) no-repeat 36px 8px transparent;


  margin-top: 2em;
  list-style-type: none;
  padding: 0px 0px 1px 24px;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(1, 1.59, 1, 3.1);
  padding-bottom: 2em;
  border-bottom: 1px solid #80808038;
}

.checklist-parent-item:last-child {
  border-bottom: none;
}

.checklist-container label:hover {
  background: #b3b3b336;
  transition: 0.3s all ease;
}

.checklist-parent-item label {
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px 3px 25px;
  margin: 0px 0px 0px 6px;
  border-radius: 5px;
}

.checklist-child-item {
  background: url(/assets/empty-checkbox.svg) no-repeat 36px 6px transparent;
  margin-top: 0.5em;
  list-style-type: none;
  padding: 0px 0px 1px 24px;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(1, 1.59, 1, 3.1);
}

.checklist-child-item label {
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
  display: flex;



}

li.checked-list {
  background: url(/assets/checked-checkbox.svg) no-repeat 38px 6px transparent;
  list-style-type: none;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(1, 1.59, 1, 3.1);




}

.checklist-parent-item.checked-list {
  background: url(/assets/checked-checkbox.svg) no-repeat 38px 8px transparent;


}


.grid-tab-control-box.checklist {
  grid-template-areas: "grid-col-1 grid-col-2";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grid-col-1 grid-col-2";
  grid-area: grid-tab-control-box;
  padding: 0px 40px;
}





.checklist-parent-item input[type="checkbox"] {
  all: revert;
}

/* style the checkbox */
.checklist-parent-item input[type="checkbox"] {
  content: "";
  width: 0px;
  height: 0px;
  position: relative;
  left: -5px;
  top: -1px;
  opacity: 0;

}

.checklist-parent-item input[type="checkbox"]+label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-color-3);
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.checklist-parent-item input[type="checkbox"]+label:hover {
  opacity: 1;
  color: var(--text-color);
  text-decoration: none;
}

.checklist-parent-item input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid var(--text-color-3);
  border-radius: 2px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}



.tertiary-button {
  color: var(--text-color-3);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.6;
  margin: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

.tertiary-button:hover {
  opacity: 1;
  color: var(--text-color);
  text-decoration: none;
}


@media only screen and (max-width: 425px) {

  .checklist-child-item {
    background: url(/assets/empty-checkbox.svg) no-repeat 0px 8px transparent;
    margin-top: 0.5em;
    list-style-type: none;
    padding: 0px 0px 1px 20px;
    margin: 5px 0px 5px -8px;
  }

  .checklist-child-item label {
    font-size: medium;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    padding: 5px 0px 5px 28px !important;
    margin: 0px 0px 9px -28px !important;



  }


  li.checked-list {
    background: url(/assets/checked-checkbox.svg) no-repeat 2px 8px transparent;
    list-style-type: none;
    /* padding: 0px 0px 1px 24px; */
    vertical-align: middle;
    transition: all 0.2s cubic-bezier(1, 1.59, 1, 3.1);

    /* text-decoration: line-through; */



  }

  .checklist-parent-item.checked-list {
    background: url(/assets/checked-checkbox.svg) no-repeat 38px 8px transparent;


  }

  .checklist-parent-item {
    background: url(/assets/empty-checkbox.svg) no-repeat 36px 8px transparent;
    margin-top: 2em;
    list-style-type: none;
    padding: 0px 0px 10px 24px !important;
    vertical-align: middle;
    transition: all 0.2s cubic-bezier(1, 1.59, 1, 3.1);
    padding-bottom: 2em;
    border-bottom: 1px solid #80808038;
  }

  .checklist-parent-item label {
    /* padding: 5px 10px 5px 28px !important; */
  }

  .checklist-parent-item>label {
    padding-bottom: 6px !important;
    margin: 3px 10px 20px 6px !important;
  }

}