.grid-tab-bar {
  grid-area: grid-tab-bar;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 0px;
  align-items: center;
  overflow: overlay;
  z-index: 1;
  height: 70px;
  position: relative;
  top: 66px;
  overflow-y: hidden;
}

.tab.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color);
  font-weight: 500;
}

.tab {
  display: flex;
  flex-direction: row;
  padding: 9px 28px;
  align-items: center;
  border-radius: 25px;
  color: var(--text-color-2);
  font-weight: 500;
  cursor: pointer;
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
  min-width: 130px;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}

.bonus.tab::after {
  content: "bonus";
  background-color: var(--accent-2);
  padding: 1px 8px 2px 8px;
  border-radius: 21px;
  height: 13px;
  text-shadow: 0px 0px 2px #ffffffad;
  font-size: 10px;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 111px;
  margin-bottom: 25px;
  position: absolute;
  box-shadow: 0px 0px 2px 1px #00000008, 0px 0px 0px 1px #0000001c;
}

.grid-tab-bar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.grid-tab-bar::-webkit-scrollbar-thumb {
  background: #d5cec5;
  width: 0px !important;
  height: 0px !important;
  border-top: 9px solid #f3f3f3;
}

.grid-tab-bar::-webkit-scrollbar-track {
  background: transparent;
}

@media only screen and (max-width: 425px) {
  .bonus.tab::after {
    display: none;
  }
}

.grid-tab-bar .marker {
  left: 0;
  position: absolute;
  height: 45px;
  width: 0;
  background: #000;
  border-radius: 4px;
  transition: 0.3s;
  border-radius: 25px;
  background-color: var(--accent-3);
}