.grid-profile-pic {
  grid-area: grid-profile-pic;
  z-index: 2;
  background-image: url(./assets/defaultPP.svg);
  position: relative;
  top: -25px;
  left: 30px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px solid var(--border-color-pp);
  filter: drop-shadow(0px 0px 2px #00000030) var(--filter-pp);
}

img.glasses {
  background-blend-mode: hard-light;
  width: 60%;
  height: 60%;
  position: relative;
  top: 0px;
  left: 39px;
  visibility: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.grid-profile-pic:hover img.glasses {
  top: 36px;
  visibility: visible;
  transition: 0.9s all ease;
}

@media screen and (max-width: 768px) {
  .grid-profile-pic {
    grid-area: grid-profile-pic;
    z-index: 2;
    width: 150px !important;
    height: 150px !important;
    top: -10px !important;
    left: 20px !important;
    -webkit-user-select: none;
    user-select: none;
  }

  img.glasses {
    background-blend-mode: hard-light;
    width: 60%;
    height: 60%;
    position: relative;
    top: 0px;
    left: 39px;
    visibility: hidden;
    -webkit-user-select: none;
    user-select: none;
  }

  .grid-profile-pic:hover img.glasses {
    top: 25px;
    left: 33px;
    visibility: visible;
    transition: 0.9s all ease;
    -webkit-user-select: none;
    user-select: none;
  }
}

@media screen and (max-width: 425px) {
  .grid-cover-box {
    grid-template-areas: "grid-profile-pic grid-info-box" !important;
  }

  .grid-profile-pic {
    grid-area: grid-profile-pic;
    z-index: 2;
    width: 100px !important;
    height: 100px !important;
    top: 195px !important;
    left: 5% !important;
    display: none;
    position: absolute !important;
  }

  .grid-profile-pic:hover img.glasses {
    background-blend-mode: hard-light;
    width: 60%;
    height: 60%;
    position: relative;
    top: 15px !important;
    left: 22px !important;
  }
}